.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  box-shadow: 2px 2px 3px #999;
  .my-float {
    margin-top: 50%;
  }
}

// Pagination Centered
.pagination-wrapper {
  overflow-x: auto;
}

.pagination {
  justify-content: center;
  margin: 30px;
}

.align-self-center {
  align-self: center;
}
.tab_button {
  width: 255px;
  text-align: center;
}

.landing_margin {
  margin-top: 230px;
}
.logo_margin {
  margin-left: 10px;
}

.justify_center {
  justify-content: center;
}
.nav-tabs {
  border-bottom: 0px solid;
}

.loginRegister {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-bottom: -30px;
  list-style: none;
  justify-content: space-between;
}
.hospital-switch > label {
  font-size: 13px;
  padding: 4px 2px;
}
// .footer {
//   position: absolute;
//   height: 150px;
//   width: 100%;
//   bottom: 0px;
//   background-color: rgb(185, 230, 208);
// }

// .logo {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 35%;
// }
// .new {
//   background-color: rgb(185, 230, 208);
//   color: #213747;
// }
.u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 155px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 662px;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 8px 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 662px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 688px);
  left: 0;
  right: auto;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1140px;
  margin: -660px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 669px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 584px;
  height: 584px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 669px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-form-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 304px;
  min-width: 144px;
  white-space: nowrap;
  margin: 43px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 546px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 788px);
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 552px;
  }

  .u-section-1 .u-image-1 {
    width: 548px;
    height: 548px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 552px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: calc(((100% - 1140px) / 2) + 386px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-1 .u-shape-1 {
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 423px;
  }

  .u-section-1 .u-image-1 {
    width: 420px;
    height: 420px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: calc(((100% - 1140px) / 2) + 256px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 627px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 627px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 544px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: calc(((100% - 1140px) / 2) + 236px);
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 343px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: calc(((100% - 1140px) / 2) + 36px);
  }
}
