.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  box-shadow: 2px 2px 3px #999;
  .my-float {
    margin-top: 50%;
  }
}

// Pagination Centered
.pagination-wrapper {
  overflow-x: auto;
}

.pagination {
  justify-content: center;
  margin: 30px;
}

.align-self-center{
  align-self: center;
}
.tab_button {
  width: 255px;
  text-align: center;
}

.landing_margin {
  margin-top: 230px;
}
.logo_margin {
  margin-left: 10px;
}

.justify_center {
  justify-content: center;
}
.nav-tabs {
  border-bottom: 0px solid;
}

