.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #878688;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}






body #login-card {
    overflow: hidden;
    position: -webkit-sticky;
  }
  
#row-card {
    padding-top: 3rem;
}
  
#title-col {
    margin-top: 3em;
    margin-bottom: 1rem;
    left: 5em;
    position: -webkit-sticky;
    position: sticky;
}
  
#login-card {
    margin: 0 auto;
    width: 25em;
    height: 100%;
    min-height: 32vh;
    border-radius: 5px;
    overflow-y: auto;
}
  
#bottom-with-form {
    background-color: #D3D3D3;
}